{%  extends 'base.html' %}
{% block content %}
    <div class="mt-3 mb-3 d-flex justify-content-center">
        <div class="display-5">
            {{ album.name }}
        </div>
    </div>
    <div class="mt-3 row">
        {% for photo in photos %}
            <div class="col-md-4 mt-3 mb-3">
                <a href="/albums/{{ album.slug }}/{{ photo_type.type_of_photo }}/{{ photo.slug }}">
                    <img src="{{ photo.image.url }}" class="img-fluid">
                </a>
            </div>
        {% endfor %}
    </div>


{% endblock content %}