{%  extends 'base.html' %}
    {% block content %}

        <div class="container" id="album">
              <div class="row multi-columns-row callout-text font-alt">
                <ol class="breadcrumb" style="background: #ffffff;">
                  <li class="breadcrumb-item active">{{ album.name }}</li>
                </ol>
              </div>
        </div>

        <div class="container">
            <div class="row">
            <ul class="works-grid works-grid-gut works-grid-3 works-hover-d" id="works-grid">
                    {% for type, post in photo_types %}

                        <li class="work-item illustration webdesign"><a href="{{ type.type_of_photo }}/#album">
                          <div class="work-image gallery-image" style='background-image: url("{{ post.image.url }}")'></div>
                          <div class="work-caption font-alt">
                            <h3 class="work-title">{{ post.type_of_photo.type_of_photo }}</h3>
                          </div></a>
                        </li>

                    {% endfor %}
                </ul>
            </div>
          </div>
        </section>


    {% endblock content %}