{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>Школьный фотобанк</title>
    <!--
    Favicons
    =============================================
    -->
      <link rel="icon" href="https://img.icons8.com/fluent/48/000000/old-time-camera.png">
{#    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/images/favicons/apple-icon-57x57.png' %}">#}
{#    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/images/favicons/apple-icon-60x60.png' %}">#}
{#    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/images/favicons/apple-icon-72x72.png' %}">#}
{#    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/images/favicons/apple-icon-76x76.png' %}">#}
{#    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/images/favicons/apple-icon-114x114.png' %}">#}
{#    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/images/favicons/apple-icon-120x120.png' %}">#}
{#    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/images/favicons/apple-icon-144x144.png' %}">#}
{#    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/images/favicons/apple-icon-152x152.png' %}">#}
{#    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/favicons/apple-icon-180x180.png' %}">#}
{#    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/images/favicons/android-icon-192x192.png' %}">#}
{#    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicons/favicon-32x32.png' %}">#}
{#    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/images/favicons/favicon-32x32.png' %}">#}
{#    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicons/favicon-32x32.png' %}">#}
    <link rel="manifest" href="{% static '/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link href="{% static 'assets/lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="{% static 'assets/lib/animate.css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/components-font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/et-line-font/et-line-font.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/flexslider/flexslider.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/owl.carousel/dist/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/simple-text-rotator/simpletextrotator.css' %}" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link id="color-scheme" href="{% static 'assets/css/colors/default.css' %}" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <nav class="navbar navbar-custom navbar-fixed-top navbar-transparent" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
              <a class="navbar-brand" href="/">ШКОЛЬНЫЙ ФОТОБАНК</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>{% if cart %}<a href="/cart/">Корзина <strong id="cart">{{ cart_counter }}</strong></a>{% endif %}</li>
                <li><a class="section-scroll" {% if request.resolver_match.view_name == 'base' %}
                       href="#service"{% else %}href="/" target="_blank"{% endif %}>{% if lang == 'rus' %}Услуги{% else %}teenused{% endif %}</a></li>
                <li><a class="section-scroll" {% if request.resolver_match.view_name == 'base' %}
                       href="#portfolio"{% else %}href="/" target="_blank"{% endif %}>{% if lang == 'rus' %}Портфолио{% else %}Portfell{% endif %}</a></li>

                <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Q&A</a>
                <ul class="dropdown-menu">
                  <li><a class="section-scroll" {% if request.resolver_match.view_name == 'base' %}
                       href="#about"{% else %}href="/" target="_blank"{% endif %}>{% if lang == 'rus' %}О нас{% else %}Meist{% endif %}</a></li>
                  <li><a class="section-scroll" {% if request.resolver_match.view_name == 'base' %}
                       href="#qna"{% else %}href="/" target="_blank"{% endif %}>{% if lang == 'rus' %}Часто задаваемые вопросы{% else %}Korduma kippuvad küsimused{% endif %}</a></li>
                  <li><a class="section-scroll" {% if request.resolver_match.view_name == 'base' %}
                       href="#contact"{% else %}href="/" target="_blank"{% endif %}>{% if lang == 'rus' %}Контакты{% else %}Kontaktid{% endif %}</a></li>
                    <li><a class="section-scroll" {% if request.resolver_match.view_name == 'base' %}
                       href="/privacy"{% else %}href="/" target="_blank"{% endif %}>{% if lang == 'rus' %}Политика конфиденциальности{% else %}Privaatsuspoliitika{% endif %}</a></li>
                </ul>
                </li>
                <li></li>
                <li>
                    <a href="{% url 'change_lang' %}">{% if lang == 'rus' %}Eestlane<i><img style="width: 20px; padding-bottom: 3px; padding-left: 5px" src="https://img.icons8.com/color/48/000000/estonia-circular.png"/></i>
                    {% else %}
                        Русский<i><img style="width: 20px; padding-bottom: 3px; padding-left: 5px" src="https://img.icons8.com/color/48/000000/russian-federation-circular.png"/></i>
                    {% endif %}</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>



      <section class="home-section home-parallax home-fade home-full-height bg-dark-60 agency-page-header" id="home" data-background="
            {% if not album.image %}
                {% if images %}{{ images.background.url }}{% else %}{% static 'assets/images/agency/agency_bg.jpg' %}{% endif %}
            {% else %}
                {{ album.image.url }}
            {% endif %}">
        <div class="titan-caption">
          <div class="caption-content">
          {% if not album %}
            <div class="font-alt mb-30 titan-title-size-1">{{ lang_dict.home_section_up }}</div>
            <div class="font-alt mb-40 titan-title-size-3">
            {% if not privacy %}
                {{ lang_dict.home_section_first_part }} <span class="rotate">{{ lang_dict.home_section_second_part }}</span>
            {% else %}
                {% if lang == 'rus' %} Политика конфиденциальности {% else %}Privaatsuspoliitika{% endif %}
            {% endif %}
            </div><a class="section-scroll btn btn-border-w btn-circle" href="#about">{% if lang == 'rus' %}Узнать больше{% else %}Lisateabe saamiseks{% endif %}</a>
          {% else %}
              <div class="font-alt mb-40 titan-title-size-3">{{ album.name }}</div>
              <a class="section-scroll btn btn-border-w btn-circle" href="#album">
                    {% if request.resolver_match.view_name == 'cart' %}
                        Перейти к корзине
                  {% elif request.resolver_match.view_name == 'checkout' %}
                      Оформить заказ
                  {% else %}Перейти к альбому{% endif %}</a>
          {% endif %}
          </div>
        </div>
      </section>

        <div class="main">
            <section class="module">
            {% block content %}
          <div class="container">
            <div class="row multi-columns-row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-lightbulb"></span></div>
                  <h3 class="features-title font-alt">{{ lang_dict.idea_title }}</h3>{{ lang_dict.idea_text }}
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-tools"></span></div>
                  <h3 class="features-title font-alt">{{ lang_dict.design_title }}</h3>{{ lang_dict.design_text }}
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-tools-2"></span></div>
                  <h3 class="features-title font-alt">{{ lang_dict.develop_title }}</h3>{{ lang_dict.develop_text }}
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-lifesaver"></span></div>
                  <h3 class="features-title font-alt">{{ lang_dict.support_title }}</h3>{{ lang_dict.support_text }}
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="module pt-0 pb-0" id="about">
          <div class="row position-relative m-0">
            <div class="col-xs-12 col-md-6 side-image" data-background="{% if images %}{{ images.about.url }}{% else %}{% static 'assets/images/agency/agency_bg.jpg' %}{% endif %}"></div>
            <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="module-title font-alt align-left">{% if lang == 'rus' %}О нас{% else %}Meist{% endif %}</h2>
                  <div class="module-subtitle font-serif align-left">{{ lang_dict.about_quotes }}</div>
                  <p>
                      {{ lang_dict.about_text }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="module pb-0" id="works">
          <div class="container">
            <div class="row" id="portfolio">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">{% if lang == 'rus' %}Портфолио{% else %}Portfell{% endif %}</h2>
                <div class="module-subtitle font-serif"></div>
              </div>
            </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                    <ul class="filter font-alt" id="filters">
                      <li><a class="current wow fadeInUp" href="#" data-filter="*">{% if lang == 'rus' %}Все{% else %}Kõik{% endif %}</a></li>
                      {% for category in categories %}
                        <li><a class="wow fadeInUp" href="#" data-filter=".{{ category.slug }}" data-wow-delay="0.6s">{{ category.type_of_photo }}</a></li>
                    {% endfor %}
                    </ul>
                  </div>
                </div>


            <div class="row multi-columns-row">
                <ul class="works-grid works-grid-gut works-grid-3 works-hover-w" id="works-grid">
                    {% for photo in portfolio %}

                        <li class="work-item {{ photo.type_of_photo.slug }}">

                          <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="gallery-item">
                              <div class="gallery-image" style='background-image: url("{{ photo.image.url }}")'>
                                  <a class="gallery" href="{{ photo.image.url }}" title="{{ photo.title }}">
                                      <div class="gallery-caption">
                                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                                      </div>
                                  </a>
                              </div>
                            </div>
                          </div>

                        </li>
                    {% endfor %}
                </ul>
            </div>
          </div>
        </section>

        <section class="module-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
                <div class="callout-text font-alt">
                  <h3 class="callout-title">{% if lang == 'rus' %}Хотите следить за нашими проектами?{% else %}Kas soovite jälgida meie projekte?{% endif %}</h3>
                  <p>{% if lang == 'rus' %}Много интересного у нас в Facebook.{% else %}Meil on Facebookis palju huvitavat.{% endif %}</p>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="callout-btn-box"><a class="btn btn-w btn-round" href="{{ media.facebook }}" target="_blank">{% if lang == 'rus' %}Подписаться{% else %}Telli{% endif %}</a></div>
              </div>
            </div>
          </div>
        </section>

        <hr class="divider-w">
        <section class="module">
          <div class="container">
            <div class="row" id="qna">
              <div class="col-sm-12">
                <h4 class="font-alt mb-30">{% if lang == 'rus' %}Часто задаваемые вопросы{% else %}Korduma kippuvad küsimused{% endif %}</h4>
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title font-alt"><a data-toggle="collapse" data-parent="#accordion" href="#support1">{{ lang_dict.question_one }}</a></h4>
                    </div>
                    <div class="panel-collapse collapse in" id="support1">
                      <div class="panel-body">
                          {{ lang_dict.answer_one }}
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support2">{{ lang_dict.question_two }}</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="support2">
                      <div class="panel-body">
                          {{ lang_dict.answer_two }}
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support3">{{ lang_dict.question_three }}</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="support3">
                      <div class="panel-body">
                          {{ lang_dict.answer_three }}
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support4">{{ lang_dict.question_four }}</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="support4">
                      <div class="panel-body">
                          {{ lang_dict.answer_four }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="{% if images %}{{ images.review.url }}{% else %}{% static 'assets/images/testimonial_bg.jpg' %}{% endif %}">
          <div class="testimonials-slider pt-140 pb-140">
            <ul class="slides">
                {% for review in reviews %}
                  <li>
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="module-icon"><span class="icon-quote"></span></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                          <blockquote class="testimonial-text font-alt">{{ review.quote }}</blockquote>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                          <div class="testimonial-author">
                            <div class="testimonial-caption font-alt">
                              <div class="testimonial-title">{{ review.author }}</div>
                              <div class="testimonial-descr">{{ review.company }}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                {% endfor %}
            </ul>
          </div>
        </section>

        <section class="module">
          <div class="container">
              <div class="row" id="service">
                  <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">{% if lang == 'rus' %}Цены и услуги{% else %}Hinnad ja teenused{% endif %}</h2>
                    <div class="module-subtitle font-serif"></div>
                  </div>
              </div>

            <div class="row multi-columns-row">
              <div class="col-sm-12">
                <div class="menu">
                  <div class="row">
                      {% for post in services %}
                          {% if post.visible %}
                            <div class="col-sm-8">
                              <h4 class="menu-title font-alt">{{ post.title }}</h4>
                              <div class="menu-detail font-serif">{{ post.description }}</div>
                            </div>
                            <div class="col-sm-4 menu-price-detail">
                              <h4 class="menu-price font-alt">€{{ post.price }}</h4>
                            </div>
                          {% endif %}
                      {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="row multi-columns-row">
              <div class="col-sm-12">
                <div class="menu-title font-alt">
                    <ul>
                      <li>
                            Вариант оформления фото класса выбирается до фотографирования.
                      </li>
                        <li>
                            Готовые фото класса класса предоставляются в электронном виде  классному руководителю для проверки.
                      </li>
                        <li>
                            Образцы портретов и фото с друзьями, будут предоставлены в электронном виде через классного руководителя.
                        </li>
                    </ul>

                </div>
              </div>
            </div>

          </div>
        </section>

        <section class="module" id="contact">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">{% if lang == 'rus' %}Связаться с нами{% else %}Võta meiega ühendust{% endif %}</h2>
                <div class="module-subtitle font-serif"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">

                <form id="contactForm" role="form" method="POST" action="/">
                    {% csrf_token %}
                  <div class="form-group">
                    <label class="sr-only" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="name" placeholder="Ваше имя" required="required" data-validation-required-message="Пожалуйста, введите своё имя"/>
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="email" placeholder="Ваш Email" required="required" data-validation-required-message="Пожалуйста, введите свой email"/>
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" rows="7" id="message" name="message" placeholder="Задайте вопрос?" required="required" data-validation-required-message="Пожалуйста, введите сообщение"></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-block btn-round btn-d" id="cfsubmit" type="submit">{% if lang == 'rus' %}Отправить{% else %}Saada sõnum{% endif %}</button>
                  </div>
                </form>

              {% block javascript %}

                                <script>
                                    {#$(document).ready(function () {#}
                                        // catch the form's submit event
                                        $('#form').submit(function (e) {
                                            e.preventDefault();
                                            alert('Ваша заявка успешно отправлена! Проверьте почту, чтобы получить фотографии:)')
                                            // create an AJAX call
                                            $.ajax({
                                                data: $(this).serialize(), // get the form data
                                                type: $(this).attr('method'), // GET or POST
                                                url: '/',
                                                // on success
                                                success: function (response) {
                                                    alert('Проверьте почту. Мы отправили!');
                                                    },
                                                // on error
                                                error: function (response) {
                                                    // alert the error if any error occured
                                                    alert(response.responseJSON.errors);
                                                    console.log(response.responseJSON.errors)
                                                }
                                            });
                                            return false;
                                        });

                                </script>
                                {% endblock javascript %}

                <div class="ajax-response font-alt" id="contactFormResponse"></div>
              </div>
              <div class="col-sm-4">
                <div class="alt-features-item mt-0">
                  <div class="alt-features-icon"><span class="icon-megaphone"></span></div>
                  <h3 class="alt-features-title font-alt">{% if lang == 'rus' %}Встретиться с нами{% else %}Tutvuge meiega{% endif %}</h3>{{ contact.company }}<br/>{{ contact.address }}<br/>{{ contact.city }}, {{ contact.zip }}
                </div>
                <div class="alt-features-item mt-xs-60">
                  <div class="alt-features-icon"><span class="icon-map"></span></div>
                  <h3 class="alt-features-title font-alt">{% if lang == 'rus' %}Написать нам{% else %}Kirjuta meile{% endif %}</h3>Email: {{ contact.email }}<br/>Телефон: {{ contact.phone }}
                </div>
              </div>
            </div>


            {% endblock %}
          </div>
        </section>



        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2021&nbsp;<a href="/">FOTOLIFE-SCHOOL.EE</a>, All Rights Reserved</p>
              </div>
              <div class="col-sm-6">
                <div class="footer-social-links">
                    {% if media.facebook %}<a href="{{ media.facebook }}"><i>
                        <img style="width: 25px" src="https://img.icons8.com/color/48/000000/facebook.png"/>
                    </i>
                    </a>{% endif %}
                    {% if media.twitter %}<a href="{{ media.twitter }}">
                        <i><img style="width: 25px" src="https://img.icons8.com/color/48/000000/twitter-squared.png"/></i></a>{% endif %}
                    {% if media.youtube %}<a href="{{ media.youtube }}"><i>
                        <img style="width: 25px" src="https://img.icons8.com/color/48/000000/youtube-squared.png"/>
                    </i></a>{% endif %}
                    {% if media.instagram %}<a href="{{ media.instagram }}">
                        <i><img style="width: 25px" src="https://img.icons8.com/color/48/000000/instagram-new.png"/></i></a>{% endif %}
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <!--
    JavaScripts
    =============================================
    -->
    <script src="{% static 'assets/lib/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'assets/lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/lib/wow/dist/wow.js' %}"></script>
    <script src="{% static 'assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js' %}"></script>
    <script src="{% static 'assets/lib/isotope/dist/isotope.pkgd.js' %}"></script>
    <script src="{% static 'assets/lib/imagesloaded/imagesloaded.pkgd.js' %}"></script>
    <script src="{% static 'assets/lib/flexslider/jquery.flexslider.js' %}"></script>
    <script src="{% static 'assets/lib/owl.carousel/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/lib/smoothscroll.js' %}"></script>
    <script src="{% static 'assets/lib/magnific-popup/dist/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>